
<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2>Register</h2>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="mb1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "radius" %>
  </div>

  <div class="mb1">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "radius" %>
  </div>

  <div class="mb1">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "radius" %>
  </div>

  <div class="actions">
    <%= f.submit "Lets go!", class: "button" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>