<div class="large-3 small-12 column">
  <%=image_tag @movie.poster%>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @movie.title %>
    (<%= @movie.release_year %>)
    <%=link_to @movie.imdb do%>
    <!-- <%=image_tag asset_path("imdb_logo.png")%>  -->
    <%end%>
  </h3>
  <p class="label movie-label radius mb1">$ <%= @movie.price %></p>

  <%if signed_in?%>
  <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@movie), removeUrl: remove_from_cart_path(@movie)} do%>
  <i class="fi-shopping-cart"></i>
  <span><%=@cart_action%></span> Cart
  <%end%>
  <%end%>

  <p><%= @movie.description %></p>
</div>