<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "radius" %>
  </div>

  <div class="mb1">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "radius" %>
  </div>


   <% if devise_mapping.rememberable? -%>
      <div class="switch round small mb1">
        <div class="inline-block left prm"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <span>Remember me</span>
      </div>
    <% end -%>


  <div class="clear">
    <%= f.submit "Log in", class: "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>