<div class = "contain-to-grid fixed">
	<nav class = "top-bar" data-topbar >
		<ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            <i class="fi-play-video"></i> MovieStore
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if current_user%>
        <li>
          <%= link_to cart_path do%>
          <i class="fi-shopping-cart"></i>
          My Cart
          (<span class="cart-count"><%=current_user.cart_count%></span>)
          <%end%>
        </li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

        <% else %>
        <li><%=link_to "Register", new_user_registration_path %></li>
        <li><%=link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
    

  </nav>
</div>