<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Movie Store" %></title>

  <%= stylesheet_link_tag    "application" %>
  
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render "layouts/header" %>
  <%= render "layouts/alerts" %>
  <div id = "main-content" class = "row full-min-height pt2">

    <%= yield %> 
  </div>
<%= render "layouts/footer" %>


<%= javascript_include_tag "application" %>
<%= javascript_include_tag "vendor/modernizr" %>

</body>
</html>
